{% extends 'master.html' %}
{% block title %} Security Model | Admin {% endblock %}
{% block content %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for cat, message in messages %}
        {% if cat[0]=='success' %}
        <div class="alert alert-{{cat[0]}} fade in" role="alert">
            <a href="#" class="close" data-dismiss="alert">&times;</a><i class='fa fa-fw fa-{{cat[1]}}'></i>
            <b class="h4 text-bold">{{message}}</b></div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-6 col-sm-3 col-lg-3 slideInDown animated">
                <div class="panel panel-success shadow-all-o" style="">
                    <div class="panel-heading">
                        <div class="row black-text">
                            <div class="col-xs-3"><i
                                    class="fa fa-fw fa-newspaper-o fa-4x green-text text-lighten-2"></i></div>
                            <div class="col-xs-9 text-right green-text text-bold">
                                <span class="h1 text-bold">{{widget['today_count']}}</span><br>
                                <span class="">TODAY ATTACK</span>
                            </div>
                        </div>
                    </div>
                    <a href="/admin/report/today-attack">
                        <div class="panel-footer">
                            <span class="pull-left">Today Attack</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-3 col-lg-3 slideInDown animated">
                <div class="panel panel-danger shadow-all-o">
                    <div class="panel-heading">
                        <div class="row black-text">
                            <div class="col-xs-3"><i class="fa fa-fw fa-table fa-4x red-text text-lighten-2"></i></div>
                            <div class="col-xs-9 text-right red-text text-bold">
                                <span class="h1 text-bold">{{widget['attack_count']}}</span><br>
                                <span>TOTAL ATTACK</span>
                            </div>
                        </div>
                    </div>
                    <a href="/admin/report/all-attack">
                        <div class="panel-footer">
                            <span class="pull-left">Total Attack</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-3 col-lg-3 slideInDown animated">
                <div class="panel panel-info shadow-all-o">
                    <div class="panel-heading">
                        <div class="row black-text">
                            <div class="col-xs-3"><i
                                    class="fa fa-fw fa-lock fa-4x blue-text text-lighten-2"></i></div>
                            <div class="col-xs-9 text-right blue-text text-bold">
                                <span class="h1 text-bold">{{widget['today_s_c']}}</span><br>
                                <span class="">TODAY SUCCESSFUL ATTACK</span>
                            </div>
                        </div>
                    </div>
                    <a href="/admin/report/today-success-attack">
                        <div class="panel-footer">
                            <span class="pull-left">Today Success Attack</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-3 col-lg-3 slideInDown animated">
                <div class="panel panel-warning shadow-all-o">
                    <div class="panel-heading">
                        <div class="row black-text">
                            <div class="col-xs-3"><i class="fa fa-fw fa-list fa-4x orange-text text-lighten-2"></i>
                            </div>
                            <div class="col-xs-9 text-right orange-text text-bold">
                                <span class="h1 text-bold">{{widget['attack_s_c']}}</span><br>
                                <span class="">TOTAL SUCCESSFUL ATTACK</span>
                            </div>
                        </div>
                    </div>
                    <a href="/admin/report/all-success-attack">
                        <div class="panel-footer">
                            <span class="pull-left">All Success Attack</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="">

        </div>
        <footer>

        </footer>
{% endblock %}
{% block script %}{% endblock %}