<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" integrity="sha512-XJ3ntWHl40opEiE+6dGhfK9NAKOCELrpjiBRQKtu6uJf9Pli8XY+Hikp7rlFzY4ElLSFtzjx9GGgHql7PLSeog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        a, a:hover, a:focus, a:active{
            text-decoration: none;
        }
        .form-control, p.text-center{
            margin-bottom: 2rem;
        }.white-text{color: #fff!important;}
        .loading{
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            z-index: 10000;
            min-height: 100vh; width: 100%;
            background: rgba(50,50,50,.7);
        }
    </style>
    {% block style %}{% endblock %}
</head>
<body>
    <div class="loading">
        <span class="fa-stack fa-lg tada animated infinite" style="position: absolute" title="Loading...">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <i class="fa fa-spinner fa-pulse fa-4x white-text"></i>
    </div>
    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
<script>
    var _seePass = $('#seePass'), _pass = $('#pass');
    _seePass.on('click', function () {
        $(this).toggleClass('fa-eye-slash').toggleClass('fa-eye');
        if($(this).hasClass('fa-eye')) _pass.attr('type', 'text');
        else _pass.attr('type', 'password');
    });
    $(window).ready(function(){
        $(".loading").fadeOut("slow")
    });
    $(document).ready(function () {
        var dd = new Date();
        $('#copyYear').text(dd.getFullYear());
    })
</script>
</body>
</html>