{% extends 'layout.html' %}
{% block title %} Security Model | Log in {% endblock %}
{% block content %}
        <div class="container">
            <div class="row w3-margin-top w3-padding-top-64">
                <div class="col-md-4 col-md-push-4">
                    <div class="panel panel-default w3-round-xlarge w3-card">
                        <div class="panel-body">
                            <a href="/"><i class="fa fa-close"></i></a>
                            <form class="w3-margin-top col-md-12" method="post" action='/login/'>
                                <h3>Hi, Welcome Back!</h3><br>
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                {% for cat, message in messages %}
                                <div class="alert alert-{{cat[0]}} fade in" role="alert">
                                    <a href="#" class="close" data-dismiss="alert">&times;</a><i class='fa fa-fw fa-{{cat[1]}}'></i>
                                    <b class="h4 text-bold">{{message}}</b></div>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                                <div class="form-group">
                                    <input type="text" class="form-control w3-round-xlarge" name="username" placeholder="Enter Username">
                                </div>
                                <div class="form-group" style="position: relative">
                                    <i class="fa fa-eye-slash" style="position: absolute; right: 15px; top: 10px" id="seePass"></i>
                                    <input type="password" class="form-control w3-round-xlarge" name="password" placeholder="Enter Password" id="pass">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block text-bold w3-round-xlarge" id="lbtn" type="submit">Login</button>
                                </div>
                                <p class="text-center">Not have account?
                                    <a href="{{url_for('signup')}}" class="orange-text">Create one!</a></p>
                                <div class="form-group">
                                    <button type="reset" class="btn btn-danger w3-round-xlarge">Cancel</button>
                                    <a href="" class="pull-right">Forgot Password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="text-center">&copy; Security Model <span id="copyYear"></span></div>
                </div>
            </div>
        </div>
{% endblock %}
{% block script %}
{% endblock %}